{:optimizations :simple
 :target :bundle
 :bundle-cmd {:default ["npx" "webpack" "--config" "webpack.prod.config.js"]}
 :output-dir "resources/public/js/out"
 :output-to "resources/public/js/out/main.js"
 :source-map "resources/public/js/out/main.js.map"
 :pretty-print false
 :warnings {:undeclared-ns true
            :undeclared-var true}}
