{:main de.explorama.frontend.woco.app.core
 :optimizations :simple
 :target :bundle
 :output-to "target/prod/js/out/main.js"
 :output-dir "target/prod/js/out"
 :bundle-cmd {:none ["npx" "webpack" "--mode=production" "./target/prod/js/out/main.js" "-o" "../../../dist/electron/prepared/public/js"]
              :default ["npx" "webpack" "--mode=production" "./target/prod/js/out/main.js" "-o" "../../../dist/electron/prepared/public/js"]}
 :infer-externs true
 :closure-defines {goog.DEBUG false
                   de.explorama.shared.woco.config/DEFAULT_LOG_LEVEL "info"
                   de.explorama.shared.woco.config/RUNTIME_MODE "prod"}}
