@use '../base/variables' as *;
@use '../base/colormap' as *;
@use '../base/icons' as *;


/* line 699, src/scss/components/_search.scss */
.explorama__search__block {
    position: relative;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    background: var(--bg-section);
}


/* explorama and all system helpers like popups get a z-index of 10.000+, all modules will be below */
/* line 3, src/scss/ui-components/_explorama-search-block.scss */
.search__block {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: radius('xl');
    background: var(--bg-section);
}

/* line 10, src/scss/ui-components/_explorama-search-block.scss */
.search__block .search__block__input {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* line 31, src/scss/ui-components/_explorama-search-block.scss */
.search__block .search__block__input .multiple__inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.search__block .search__block__input .multiple__inputs > div:has(.input + span[class^="icon-"] + .input) {
    min-width: 0;
}

/* line 39, src/scss/ui-components/_explorama-search-block.scss */
.search__block .search__block__input .multiple__inputs .input--w100 {
    flex-grow: 1;
    width: auto;
    min-width: 14em;
}

/* line 50, src/scss/ui-components/_explorama-search-block.scss */
.search__block .search__block__label {
    flex: 0 0 30%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
}

/* line 53, src/scss/ui-components/_explorama-search-block.scss */
.search__block .search__block__actions {
    width: 24px;
}
