{
	auto_https disable_redirects
}

localhost {
	handle /oauth2/* {
		reverse_proxy localhost:4180
	}

	handle {
		forward_auth localhost:4180 {
			uri /oauth2/auth
			copy_headers X-Auth-Request-User X-Auth-Request-Email
		}
		reverse_proxy {$HOST_ADDR}:{$HOST_FRONTEND_PORT}
	}
}
