{:main de.explorama.backend.woco.app.core
 :target :nodejs
 :optimizations :simple
 :output-to "../../../dist/electron/prepared/public/js/backend.js"
 :output-dir "../../../dist/electron/prepared/public/js/backend"
 :infer-externs true
 :closure-defines {goog.DEBUG false
                   de.explorama.shared.woco.config/DEFAULT_LOG_LEVEL "info"
                   de.explorama.shared.woco.config/RUNTIME_MODE "prod"
                   de.explorama.shared.common.configs.provider-impl/CONFIG "{:explorama-bucket-config {\"default\" {:backend \"browser\" :indexed? true :schema \"default\" :data-tile-keys {\"year\" {:field [\"Date\" \"date\" \"value\"] :date-part :year :type :string} \"country\" {:field [\"Context\" \"country\" \"name\"] :type :string} \"datasource\" {:field [\"Datasource\" \"datasource\" \"name\"]} \"bucket\" {:field :bucket :type :string} \"identifier\" {:value \"search\"}}}}}"}
 :language-in :ecmascript-next
 :pretty-print false}
